<div class="nav">
  <div class="menu-wrap">
    <a class="logo-link" href="/">
      <img
        class="logo"
        src="/images/nutriviandas-logo.svg"
        alt="Logo de Nutriviandas"
      />
    </a>

    <div class="dropdown nav-mobile" id="mobile-menu">
      <button class="btn bx bx-menu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item menu-item" href="/#inicio">Inicio</a>
        <a class="dropdown-item menu-item" href="/#nosotros">Nosotros</a>
        <a class="dropdown-item menu-item" href="/menus">Menús</a>
        <a class="dropdown-item menu-item" href="/#contacto">Contacto</a>

        <% if (locals.isLogged) { %>

          <a class="dropdown-item menu-item" href="/cart">
            <div class="cart-button">
              <i class="bx bx-cart-alt cart-icon"></i>
            </div>
          </a>
          <li><hr></li>
          <a class="dropdown-item menu-item" href="/users/profile">Mi Perfil</a>
          <a class="dropdown-item menu-item" href="/users/logout">Salir</a>

        <% } else { %>

          <li><hr></li>
          <a class="dropdown-item menu-item" href="/users/login"> Ingresar </a>
          <a class="dropdown-item menu-item" href="/users/register"> Registrate </a>

        <% } %>
      </div>
    </div>

    <div class="menu">
      <a class="menu-item" href="/#inicio">Inicio</a>
      <a class="menu-item" href="/#nosotros">Nosotros</a>
      <a class="menu-item" href="/menus">Menús</a>
      <a class="menu-item" href="/#contacto">Contacto</a>
    </div>

    <% if (locals.isLogged) { %>

      <div class="right-menu">
        <div class="rightMenuItems">
          <a href="/cart">
            <div class="cart-button">
              <i class="bx bx-cart-alt cart-icon"></i>
            </div>
          </a>
        </div>
        <div class="rightMenuItems">
          <!--
          <div class="dropdown">
            <button class="dropdownBtn">
              <div class="buttonElement"> <%#= locals.userLogged.first_name %> </div>
              <div class="buttonElement"><i class='bx bxs-down-arrow'></i></div>
            </button>
            <div class="dropdownContent">
              <li>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/users/profile">Mi Perfil</a></li>
                  <li><a class="dropdown-item" href="/users/logout">Salir</a></li>
                </ul>
              </li>
            </div>
          </div> -->

          <div class="dropdown">
            <button class="dropdownBtn btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= locals.userLogged.first_name %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/users/profile">Mi Perfil</a>
                  <a class="dropdown-item" href="/users/logout">Salir</a>
            </div>
          </div><!-- dropdown -->
        </div><!-- rightMenuItems -->
      </div><!-- right-menu -->

    <% } else { %>

      <div class="right-menu">
        <a class="menu-item" href="/users/login"> Ingresar </a>
        <a class="menu-item" href="/users/register"> Registrate </a>
      </div>

    <% } %>
  </div>
</div>