<div class="nav">
    <div class="menu-wrap">
        <a class="logo-link" href="/">
            <img class="logo" src="/images/nutriviandas-logo.svg" alt="Logo de Nutriviandas">
        </a>
        <div class="nav-mobile">
            <i class='bx bx-menu'></i>
        </div>
        <div class="menu">
            <a href="#inicio">
                <div class="menu-item active">
                    Inicio
                </div>
            </a>
            <a href="#nosotros">
                <div class="menu-item">
                    Nosotros
                </div>
            </a>
            <a href="#seccion-menu">
                <div class="menu-item">
                    Menús
                </div>
            </a>
            <a href="#contacto">
                <div class="menu-item">
                    Contacto
                </div>
            </a>
        </div>
        <div class="right-menu">
            <div class="cart-button">
                <i class='bx bx-cart-alt cart-icon' ></i>
            </div>
            <a href="/login">
                <div class="menu-item">
                    Ingresar
                </div>
            </a>
            <a href="/register">
                <div class="menu-item">
                    Registrate
                </div>
            </a>
        </div>
    </div>
</div>