<header class="main-header">
    <a href="/">
        <div class="main-header-image">
            <img class="logo" src="/images/logo_nutriviandas.jpeg" alt="Logo de Nutriviandas">
        </div>
    </a>
    <nav class="main-navbar" >
        <ul class="navbar-left">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Nuestros Menús</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>

        <ul class="navbar-right">
            <li><a id="crear-cuenta" href="/register">Creá tu cuenta </a></li>
            <li><a id="ingresar" href="/login">Ingresá </a></li>
        </ul>
    </nav>
    <a class="burger-button">
        <i class="fas fa-bars"></i>
    </a>
</header>