<div class="partial_productMenuSemanal product" id="<%= productId %>">
  <img
    class="partial_product_left"
    src="images/deleteMockupImages/casserole-dish-2776735_1280.jpg"
    alt="Product Image"
  />

    <div class="partial_productMenuSemanal_data">
      <h3>Lorem plato veggie</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        perspiciatis nihil. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Blanditiis perspiciatis nihil.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        perspiciatis nihil.
      </p>
    </div>

</div>
