<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/menus.css">
  <link rel="stylesheet" href="/css/headerFooter.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="icon" href="images/logo_nutriviandas.jpeg" type="image/gif" sizes="16x16" />
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <title>Nutriviandas</title>
</head>

    <body>
        <!--TOP NAV-->
        <%- include('../partials/header.ejs') %>

        <!--SECCION HEADER MENUS-->
        <div class="img-for-mobile">
          <section class="header-menus">
            <div class="filters-bar">
              <div class="categories">
                  <a href="#" class="category" data-class="withMeat">Con Carnes</a>
                  <a href="#" class="category" data-class="vegetarian">Vegetariano</a>
                  <a href="#" class="category" data-class="pies">Tartas</a>
                  <a href="#" class="category" data-class="pizzas">Pizzas</a>
                  <a href="#" class="category" data-class="burgers">Hamburguesas</a>
                  <a href="#" class="category" data-class="custom">Personalizado</a>
              </div>
            </div>
            <div class="on-the-menu">
              <div class="on-the-box">
                <div class="title">
                  <h1>Nuestros Menús</h1>
                </div>
                <div class="sub-title">
                  <h2>Directo de nuestra cocina a tu mesa.</h2>
                </div>
              </div>
            </div>
          </section>
          <div class="container-menu-option">
            <% for( let i = 0; i < 6; i++ ) { %>
              <%- include('../partials/menu', {menuId: i});%>
            <% } %>
          </div>
        </div>


        <%- include('../partials/footer.ejs') %> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>
</html>