<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Shadows+Into+Light&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Shadows+Into+Light&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/headerFooter.css"/>
    <link
    rel="icon"
    href="images/logov2.jpeg"
    type="image/gif"
    sizes="16x16"
  />
    <title>Nutriviandas</title>

</head>

<body class="backgroundImageToo">

    <%- include('./partials/header.ejs') %>
    <main>
<br><br><br> <article class="containerArticle">

    <div class="singleCard">  
        <a href="/productDetail"><img src="/images/sample2.jpeg" alt="MenuExample"> 
        <h4>Menús</h4> <br> 
        <p>Contamos con una gran variedad de opciones semanales para llevar una buena alimentación comiendo cosas ricas y saludables!</p>  
        <a href="#"><b>Nuestras opciones</b></a></a></div>

    
    <div class="singleCard">  
       <a href="http://www.instagram.com/nutriviandas_saludables"><img src="/images/us.jpeg" alt="Nosotros">
        <h4>Nosotros</h4> <br> 
        <p>Contactate con nosotros a través de nuestro Instagram, seguinos para estar al día con las novedades que tenemos para vos!.</p>  
        <a href="http://www.instagram.com/nutriviandas_saludables"><b>Nuestras redes</b></a></a></div>

    <div class="singleCard">  
           <a href="#"></a><img src="/images/zona-entrega.jpg" alt="Envíos">
            <h4>Zonas de entregas</h4> <br> 
            <p>Hace click para conocer las zonas de entregas y franjas horarias.</p>  
            <a href="#"><b>¡Mapa y franjas horarias!</b></a></a></div>


</article>
<br><br>

    
    </main>



    
    
    <%- include('./partials/footer.ejs') %> 


</body>
</html>