<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Nutriviandas - login</title>
</head>
<body>
    <main class="main-login">
        <div class="container-logo">
            <a href="index.html">
                <img class="logo-register-login" src="/images/logo_nutriviandas.jpeg" alt="Logo de Nutriviandas">
            </a>
        </div>
        <!-- seccion de login -->
        <div class="login-section">
            <div class="login-box">
                <div class="inside-container-logo">
                    <a href="index.html">
                        <img class="logo-register-login" src="/images/logo_nutriviandas.jpeg" alt="Logo de Nutriviandas">
                    </a>
                </div>
                <h3 class="titulo-iniciar">Inicia sesión</h3>
                <form class="login-form"  autocomplete="on">
                    <input type="email" class="l-email" placeholder="E-mail" required><br>
                    <input type="password" class="l-contraseña" placeholder="Contraseña" required><br>
                    <!-- Este boton solo simula el error que deberia aparecer en pantalla al introducir un dato erroneo -->
                    <button type="submit" value="Ingresar" class="login-b" onclick="alert('Por favor, verifique los datos')">Ingresar</button>
                </form>
                <div class="crear-cuenta">
                    <span>¿Aún no tienes una cuenta? <a class="medium-link" href="/views/register.html" target="blank">Crea tu cuenta</a></span>
                </div>
                <div class="recuperar-contraseña">
                    <a class="small-link" href="/views/recoverPassword.html" target="blank">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="main-footer">
        <nav class="main-footer-menu-center">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nuestros Menus</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <div class="main-footer-menu-seguinos">
            <span class="footer-menu-seguinos">
                <a href="https://www.instagram.com/nutriviandas_saludables/?hl=es-la" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="blank"><i class="fab fa-twitter-square"></i></a>
            </span>
        </div>
    </footer>
</body>
</html>