<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/recoverPassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Nutriviandas - Recuperar Contraseña</title>
</head>
<body>
    <main class="main-recover">
        <div class="container-logo">
            <a href="/">
                <img class="logo-register-login" src="/images/logo_nutriviandas.jpeg" alt="Logo de Nutriviandas">
            </a>
        </div>
        <!-- seccion de login -->
        <div class="recover-section">
            <div class="recover-box">
                <div class="inside-container-logo">
                    <a href="/">
                        <img class="logo-register-login" src="/images/logo_nutriviandas.jpeg" alt="Logo de Nutriviandas">
                    </a>
                </div>
                <h3 class="titulo-recover">Recuperar Contraseña</h3>
                <p class="texto-recover">Por favor, introduzca su correo electronico asociado con su cuenta Nutriviandas.</p>
                <form class="recover-form"  autocomplete="on">
                    <input type="email" class="r-email" placeholder="E-mail" required><br>
                    <!-- Este boton solo simula el error que deberia aparecer en pantalla al introducir un dato erroneo -->
                    <button type="submit" value="Recover" class="recover-b" onclick="alert('El E-mail no se encuentra registrado')">Ingresar</button>
                </form>
                <div class="crear-cuenta">
                    <span>¿Aún no tienes una cuenta? <a class="medium-link" href="/register">Crea tu cuenta</a></span>
                </div>
            </div>
        </div>
    </main>
    <footer class="main-footer">
        <nav class="main-footer-menu-center">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Nuestros Menús</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <div class="main-footer-menu-seguinos">
            <span class="footer-menu-seguinos">
                <a href="https://www.instagram.com/nutriviandas_saludables/?hl=es-la" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="blank"><i class="fab fa-twitter-square"></i></a>
            </span>
        </div>
    </footer>
</body>
</html>