<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Nutriviandas - registro</title>
</head>
<body>
    <main class="main-register">
        <div class="container-logo">
            <a href="index.html">
                <img class="logo-register-login" src="/images/logo_nutriviandas.jpeg" alt="Logo de Nutriviandas">
            </a>
        </div>
        <!-- Formulario de Registro -->
        <div class="register-section">
            <div class="register-box">
                <div class="inside-container-logo">
                    <a href="/">
                        <img class="logo-register-login" src="/images/logo_nutriviandas.jpeg" alt="Logo de Nutriviandas">
                    </a>
                </div>
                <h3 class="titulo-registrar">Creá tu cuenta</h3>
                <form class="register-form"  autocomplete="on">
                    <input type="email" id="r-email" placeholder="E-mail" required><br>
                    <input type="text" id="r-nombre" placeholder="Nombre" required><br>
                    <input type="text" id="r-apellido" placeholder="Apellido" required><br>
                    <input type="password" id="r-contraseña" placeholder="Contraseña" required><br>
                    <input type="password" id="r-confirmar-c" placeholder="Confirmar Contraseña" required><br>
                    <!-- Este boton solo simula el error que deberia aparecer en pantalla al introducir un dato erroneo -->
                    <button type="submit" value="Registrarse" class="registrar-b" onclick="alert('Por favor, verifique los datos')">Registrarse</button>
                </form>
            </div>
        </div>
    </main>
    <footer class="main-footer">
        <nav class="main-footer-menu-center">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nuestros Menus</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <div class="main-footer-menu-seguinos">
            <span class="footer-menu-seguinos">
                <a href="https://www.instagram.com/nutriviandas_saludables/?hl=es-la" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="blank"><i class="fab fa-twitter-square"></i></a>
            </span>
        </div>
    </footer>
</body>
</html>