* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
    box-sizing: border-box;
}

a {
    color: unset;
    text-decoration: none;
}

body, html {
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

section {
    height: 46rem;
    margin-top: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.cart-box {
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.cart-box-title {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.cart-box-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.table td {
    border-top: none;
}

.table-pro-desc {
    width: 70%;
}