* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

a {
    color: unset;
    text-decoration: none;
}

.main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0 5rem;
}

.background-image-login{
    display: none;
}

.login-section {
    padding-top: 10px;
}

.login-box{
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 20px 0px;
    box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.8);
}

.inside-container-logo{
    display: none;
}

.login-form{
    text-align: center;
    width: 80%;
}

.crear-cuenta span{
    font-size: .8rem;
}

.medium-link{
    text-decoration: none;
    font-size: .9rem;
    color: #0066c0;
}


.l-email, .l-contraseña{
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
    border: solid 1px black;
}

input{
    padding-left: 5px;
}

.login-b{
    margin-bottom: 10px;
    padding: 6px 10px;
    background-color: var(--color-brown);
    color: white;
    border: none;
    border-radius: 7px;
    transition: all 0.3s;
}

.login-b:hover{
    background-color: #9c6444;
}

.titulo-iniciar{
    font-size: 1.3rem;
    margin-bottom: 15px;
    text-align: center;
}

.small-link{
    text-decoration: none;
    font-size: .9rem;
    color: #0066c0;
}

.recuperar-contraseña{
    display: block;
    text-align: center;
}

/*-----MEDIA CONDITIONS-----*/

/* LARGE PHONES */
@media (min-width:426px){
    .container-logo{
        box-shadow: rgba(99, 99, 9, 0.2) 0px 2px 8px 0px;
        background-color: var(--white);
    }

    .crear-cuenta{
        font-size: 14px;
    }
    
    .main-login{
        background-image: url('/images/fresh-food.jpg');
        background-color: #cccccc;
        height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }

    .login-box{
        width: 70vw;
    }

    .l-email, .l-contraseña{
        width: 80%;
    }
}

@media (min-width:500px){
    .login-box{
        width: 60vw;
    }
}

/*PARA LAPTOPS Y DESKTOPS*/
@media (min-width:768px){
    .login-section{
        justify-content: center;
    }


    .login-box{
        width: 350px;
    }

    .l-email, .l-contraseña{
        height: 22px;
    }
}