*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    margin: 10px 10px;
}

.container-logo{
    margin: 20px 0;
    height: 150px;
    text-align: center;
}

.logo-register-login{
    height: 150px;
    vertical-align: middle;
}

.box-login{
    border: 1px #ddd solid;
    border-radius: 4px;
}

.login-form{
    text-align: center;
}

#l-email, #l-contraseña, #ingresar-b{
    margin-bottom: 5px;
}

#login-b{
    padding: 5px;
}

.titulo-iniciar{
    margin-bottom: 15px;
    text-align: center;
}

.link-normal{
    text-decoration: none;
    font-size: 12px;
    color: #0066c0;
}

#recuperar-contraseña{
    text-align: center;
}

footer{
    background-color: #7ded75;
}

.footer-menu-centro{
    text-align: center;
}

ul.footer-menu-centro h3{
    color: #343434;
    font-weight: bold;
    font-size: 14px;
}

ul.footer-menu-centro li, .footer-menu-seguinos li{
    display: inline-block;
}

ul.footer-menu-centro li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.footer-menu-seguinos a{
    color: white;
}

.fa-instagram, .fa-facebook, .fa-twitter-square{
    font-size: 20px;
}


