* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-light-green: #8BA651;
    --color-brown: #BF7B54;
    --color-olive: #445925;
    --color-dark-green: #314035;
    --color-orange: #F26D3D;
    --color-dark-orange: #bb532d;
    --html-font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

.container-logo{
    text-align: center;
}

.logo-register-login{
    margin-top: 15px;
    height: 120px;
}

.link-logo{
    text-decoration: none;
}

.main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.background-image-login{
    display: none;
}

.login-section {
    padding-top: 10px;
}

.login-box{
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 20px 0px;
    box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.8);
}

.inside-container-logo{
    display: none;
}

.login-form{
    text-align: center;
    width: 80%;
}

.crear-cuenta{
    font-size: 12px;
}

.medium-link{
    text-decoration: none;
    font-size: 12px;
    color: #0066c0;
}


.l-email, .l-contrase単a{
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
    border: solid 1px black;
}

input{
    padding-left: 5px;
}

.login-b{
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--color-brown);
    color: white;
    border: none;
    border-radius: 7px;
    transition: all 0.3s;
}

.login-b:hover{
    background-color: #9c6444;
}

.titulo-iniciar{
    margin-bottom: 15px;
    text-align: center;
}

.small-link{
    text-decoration: none;
    font-size: 12px;
    color: #0066c0;
}

.recuperar-contrase単a{
    display: block;
    text-align: center;
}

/*-----MEDIA CONDITIONS-----*/

/*PARA TABLETS*/
@media (min-width:425px){
    .crear-cuenta{
        font-size: 14px;
    }
    
    .main-login{
        background-image: url('/images/fresh-food.jpg');
        background-color: #cccccc;
        height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .login-box{
        width: 70vw;
    }

    .l-email, .l-contrase単a{
        width: 80%;
    }
}

@media (min-width:500px){
    .login-box{
        width: 60vw;
    }
}

/*PARA LAPTOPS Y DESKTOPS*/
@media (min-width:768px){
    .container-logo{
        display: none;
    }

    .inside-container-logo{
        display: block;
        margin-bottom: 20px;
    }

    .login-section{
        justify-content: center;
    }

    .logo-register-login{
        margin-top: 0;
    }

    .login-box{
        width: 350px;
    }

    .l-email, .l-contrase単a{
        height: 22px;
    }

    .login-b{
        font-size: 15px;
    }
}