/* font-family: 'El Messiri', sans-serif;
font-family: 'Shadows Into Light', cursive; */

* {
  box-sizing: border-box;
}

:root {
  --color-main: #7ded75;
  --color-orange: #f49136;
  --color-pink: #ec7aae;
  --color-text: #353535;
  --color-light-grey: #9c9c9c;
  --html-font-size: 16px;
  --font-headings: "Shadows Into Light", cursive;
  --font-text: "El Messiri", sans-serif;
}

html {
  font-size: var(--html-font-size);
}

body {
  font-family: var(--font-text);
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: var(--color-text);
  font-size: 2.5rem;
}

h1,
h2 {
  font-family: var(--font-headings);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

main {
  padding-bottom: 60px;
}

/* top and bottom context nav */
.contextNavigation {
  display: flex;
  justify-content: space-between;
}

/* products details headings */
.productCart_productsDetail_headings {
  display: flex;
  list-style: none;
  padding: 0;
}

.productCart_productsDetail_headings li {
  flex-grow: 1;
  text-align: center;
  flex-basis: 0;
}

/* main two columns */
section.productCart-productsDetail {
  display: flex;
  flex-wrap: wrap;
}

section.productCart-productsDetail header,
section.productCart-productsDetail section {
  width: 80%;
}

section.productCart-productsDetail aside {
  width: 20%;
}

/* product detail */
.productCart_productsDetail_products .product {
  display: flex;
  margin-bottom: 20px;
}

.productCart_productsDetail_products .product * {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  flex-basis: 0;
}

.productCart_productsDetail_products .product img {
  width: 150px;
  object-fit: cover;
}

.productCart_productsDetail_products .product p {
  margin: 0;
  padding: 6px;
}

/* side bar */
.productsQuantityTotal,
.productsMoneySubTotal {
  display: flex;
  align-items: center;
}

.totalSelectedProducts h3 {
  margin: 0;
  /* padding: 0; */
}

.totalSelectedProducts span {
  margin-left: 7px;
  font-size: 1.3rem;
}

.totalSelectedProducts div {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-light-grey);
}

.productsDeliveryCostTotal {
  display: flex;
  flex-wrap: wrap;
}

.productsTotal {
  background-color: white;
  padding: 7px;
  /* line-height: 2rem; */
}

.productsTotal span {
  text-align: center;
  font-size: 3rem;
  line-height: 5rem;
  margin: auto;
  display: block;
}

.totalSelectedProducts {
  background-color: var(--color-main);
  padding: 5px 10px;
  border-radius: 3px;
}

.totalSelectedProducts h2 {
  text-align: center;
}

div.productsTotal {
  border: 0;
}

.wider {
  flex-grow: 1.5 !important;
}

/* COPIED CSS FROM REGISTER > FOOTER */
.main-footer {
  display: flex;
  flex-direction: column;
  background-color: #7ded75;
}

.main-footer-menu-center {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

nav.main-footer-menu-center ul {
  display: flex;
  justify-content: space-around;
}

nav.main-footer-menu-center ul li {
  list-style-type: none;
  padding: 0px 5px;
  transition: all 0.5s;
}

nav.main-footer-menu-center ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

nav.main-footer-menu-center ul li a:hover {
  color: rgb(228, 228, 228);
}

.main-footer-menu-seguinos {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.footer-menu-seguinos a {
  color: white;
  padding: 0 2px;
}

.fa-instagram,
.fa-facebook,
.fa-twitter-square {
  font-size: 20px;
  transition: all 0.5s;
}

.fa-instagram:hover,
.fa-facebook:hover,
.fa-twitter-square:hover {
  color: teal;
}
