/* font-family: 'El Messiri', sans-serif;
font-family: 'Shadows Into Light', cursive; */

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
  box-sizing: border-box;
}

:root {
  --color-main: var(--color-light-green);
  --color-pink: var(--color-orange);
}

html {
  font-size: var(--html-font-size);
}

body.body-products {
  background-color: var(--background-color);
  scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

h1,
h2 {
  font-size: 2.5rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.productsTopNav button {
  background-color: var(--color-main);
  width: auto;
  padding: 10px 30px;
  font-size: 1.4em;
  border: 0;
  border-radius: 4px;
}

.main-products {
  padding-top: var(--header-height);
}

.productsTopNav {
  display: flex;
  justify-content: center;
  padding: 6px;
  position: sticky;
  top: var(--header-height);
  background-color: var(--bs-light);
}

a {
  color: unset;
  text-decoration: none;
}

.filters-bar {
  position: fixed;
  top: 96px;
  left: 0;
  height: 3.5rem;
  background: #fff;
  width: 100%;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
  z-index: 3;
}

.categories {
  overflow-x: auto;
  display: flex;
  height: 3.5rem;
}

.category {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0 1rem;
  height: 3.5rem;
}

.filters-bar .categories .category:last-child {
  padding-right: 1rem;
}

.on-the-menu {
  display: flex;
  flex-direction: column;
  margin-top: 1.8rem;
  align-items: center;
  justify-content: center;
}

.on-the-box {
  background-color: #fff;
  border-radius: 30px;
  align-items: center;
  padding: .5rem 2rem;
  width: fit-content;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.on-the-menu .title, .sub-title h2, .menu-date, .current-week h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--font);
}

.title h1 {
  font-size: 26px;
  font-weight: 600;
}

.on-the-menu .sub-title {
  margin-bottom: 1rem;
}

.sub-title h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

/* products details headings */

.listOfProducts {
  padding-top: 2rem;
}

.listOfProducts .product div,
.listOfProducts .product form {
  padding-top: 15px;
}

/* product detail */

.buttonAddToCartInProduct {
  display: flex;
}

.buttonAddToCartInProduct #buttonAddToCart {
  margin: 0 50px;
}

.buttonAddToCartInProduct #buttonAddToCart i {
  font-size: 1.5rem;
}

/* Menu semanal */

.menuSemanal {
  display: flex;

}

.itemsMenuSemanal {
  padding-top: 2rem;
  display: flex;
  margin-bottom: 40px;
}

header.listOfProducts_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.listOfProducts_header button{
  background-color: var(--color-orange);
  border: 0;
  padding: 10px 20px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

/*MEDIA CONDITIONS*/

/*PARA TABLETS*/
@media (min-width: 768px) {
  section.productCart-productsDetail header,
  section.productCart-productsDetail div.spacer {
    display: block;
  }

  section.productCart-productsDetail {
    display: flex;
    flex-wrap: wrap;
  }

  section.productCart-productsDetail header,
  section.productCart-productsDetail section {
    width: 78%;
  }

  section.productCart-productsDetail section {
    margin-right: 2%;
  }
}

@media (min-width: 950px) {
  .filters-bar {
    display: flex;
    justify-content: center;
  }

  .category:hover {
    color: var(--color-orange);
  }
}
