/* font-family: 'El Messiri', sans-serif;
font-family: 'Shadows Into Light', cursive; */

* {
  box-sizing: border-box;
}

:root {
  --color-main: var(--color-light-green);
  --color-pink: #ec7aae;
  --color-text: #353535;
  --color-light-grey: #9c9c9c;
  --color-lighter-grey: #cccccc;
  --transparent-white: #ffffff33;
}

html {
  font-size: var(--html-font-size);
}

body {
  font-family: var(--font-text);
}

body.body-productCart {
  background-image: url(/images/fresh-food.jpg);
  background-color: var(--color-lighter-grey);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: var(--color-text);
  font-size: 2.5rem;
}

h1,
h2 {
  font-family: var(--font-headings);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

main {
  padding-bottom: 60px;
}

/* products details headings */

.productCart_productsDetail_headings {
  display: flex;
  list-style: none;
  padding: 0;
}

.productCart_productsDetail_headings li {
  flex-grow: 1;
  text-align: center;
  flex-basis: 0;
}

/* main two columns */

section.productCart-productsDetail header,
section.productCart-productsDetail div.spacer {
  position: sticky;
  top: 0;
  margin-bottom: 7px;
  padding: 10px 0;
}

section.productCart-productsDetail div.spacer {
  width: 22%;
}

section.productCart-productsDetail header,
section.productCart-productsDetail div.spacer {
  background-color: var(--color-main);
  display: none;
}

/* side bar */
.productsQuantityTotal,
.productsMoneySubTotal {
  display: flex;
  align-items: center;
}

.totalSelectedProducts h3 {
  margin: 0;
  /* padding: 0; */
}

.totalSelectedProducts span {
  margin-left: 7px;
  font-size: 1.3rem;
}

.totalSelectedProducts div {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-light-grey);
}

.productsDeliveryCostTotal {
  display: flex;
  flex-wrap: wrap;
}

.productsTotal {
  background-color: white;
  padding: 7px;
  /* line-height: 2rem; */
}

.productsTotal span {
  text-align: center;
  font-size: 3rem;
  line-height: 5rem;
  margin: auto;
  display: block;
}

.totalSelectedProducts {
  background-color: var(--color-main);
  padding: 5px 10px;
  border-radius: 3px;
}

.totalSelectedProducts h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

div.productsTotal {
  border: 0;
}

/*MEDIA CONDITIONS*/

/*PARA TABLETS*/
@media (min-width: 768px) {


  section.productCart-productsDetail header,
  section.productCart-productsDetail div.spacer {
    display: block;
  }

  section.productCart-productsDetail {
    display: flex;
    flex-wrap: wrap;
  }

  .productCart_productsDetail_products .product {
    display: flex;
    margin-bottom: 0;
  }
  section.productCart-productsDetail header,
  section.productCart-productsDetail section {
    width: 78%;
  }

  section.productCart-productsDetail section {
    margin-right: 2%;
  }

  section.productCart-productsDetail aside {
    width: 20%;
    position: sticky;
    top: 0;
    align-self: flex-start;
  }
}

@media (min-width: 950px) {
}
