*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

.container-logo{
    text-align: center;
}

.logo-register-login{
    margin-top: 15px;
    height: 120px;
}

.link-logo{
    text-decoration: none;
}

.recover-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}

.background-image-login{
    display: none;
}

.recover-box{
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 30px 0px;
    box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.8);
}

.inside-container-logo{
    display: none;
}

.recover-form{
    text-align: center;
}

.titulo-recover{
    margin-bottom: 10px;
    text-align: center;
}

.texto-recover{
    font-size: 12px;
    text-align: left;
    margin: 0 14px 10px 14px;
}

.r-email{
    margin-bottom: 10px;
}

.recover-b{
    margin-bottom: 10px;
    padding: 5px;
    background-color: #7ded75;
    color: white;
    border: none;
    border-radius: 10%;
    transition: all 0.5s;
}

.recover-b:hover{
    background-color: #5dc256;
}

.crear-cuenta{
    font-size: 12px;
}

.medium-link{
    text-decoration: none;
    font-size: 12px;
    color: #0066c0;
}

/*-----FOOTER-----*/

.main-footer{
    display: flex;
    flex-direction: column;
    background-color: #7ded75;
}

.main-footer-menu-center{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

nav.main-footer-menu-center ul{
    display: flex;
    justify-content: space-around;
}

nav.main-footer-menu-center ul li{
    list-style-type: none;
    padding: 0px 5px;
}

nav.main-footer-menu-center ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

nav.main-footer-menu-center ul li a:hover{
    color: rgb(228, 228, 228);
}

.main-footer-menu-seguinos{
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.footer-menu-seguinos a{
    color: white;
    padding: 0 2px;
}

.fa-instagram, .fa-facebook, .fa-twitter-square{
    font-size: 20px;
    transition: all 0.5s;
}

.fa-instagram:hover, .fa-facebook:hover, .fa-twitter-square:hover{
    color: #f49136;
}

/*-----MEDIA CONDITIONS-----*/

/*PARA TABLETS*/
@media (min-width:426px){
    .crear-cuenta{
        font-size: 14px;
    }
    
    .recover-box{
        width: 70%;
    }

    .main-recover{
        background-image: url('/images/fresh-food.jpg');
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

@media (min-width:550px){
    .register-box{
        width: 400px;
    }
}

/*PARA LAPTOPS Y DESKTOPS*/
@media (min-width:770px){
    .container-logo{
        display: none;
    }

    .inside-container-logo{
        display: block;
        margin-bottom: 20px;
    }

    .recover-section{
        justify-content: center;
    }

    .logo-register-login{
        margin-top: 0;
    }

    .recover-box{
        width: 350px;
    }
}