*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-light-green: #8BA651;
    --color-brown: #BF7B54;
    --color-olive: #445925;
    --color-dark-green: #314035;
    --color-orange: #F26D3D;
    --color-dark-orange: #bb532d;
    --html-font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

.container-logo{
    text-align: center;
}

.logo-register-login{
    margin-top: 15px;
    height: 120px;
}

.link-logo{
    text-decoration: none;
}

.main-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.register-section{
    padding-top: 10px;
}

.register-box{
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 20px 0px;
    box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.8);
}

.inside-container-logo{
    display: none;
}

.titulo-registrar{
    margin-bottom: 15px;
    text-align: center;
}

.register-form{
    text-align: center;
    width: 80%;
}

#r-email, #r-nombre, #r-apellido, 
#r-contraseña, #r-confirmar-c{
    height: 25px;
    margin-bottom: 10px;
    width: 80%;
    border: solid 1px black;
}

input{
    padding-left: 5px;
}

.registrar-b{
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--color-brown);
    color: white;
    border: none;
    border-radius: 7px;
    transition: all 0.3s;
}

.registrar-b:hover{
    background-color: #9c6444;
}

/*MEDIA CONDITIONS*/

/*PARA TABLETS*/
@media (min-width:426px){
    .register-box{
        width: 350px;
    }

    .main-register{
        background-image: url('/images/fresh-food.jpg');
        background-color: #cccccc;
        height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .registrar-b{
        font-size: 15px;
        padding: 10px;
    }
}

@media (min-width:550px){
    .register-box{
        width: 400px;
    }
}

/*PARA LAPTOPS Y DESKTOPS*/
@media (min-width:768px){
    .container-logo{
        display: none;
    }

    .inside-container-logo{
        display: block;
        margin-bottom: 20px;
    }

    .register-section{
        justify-content: center;
    }

    .logo-register-login{
        margin-top: 0;
    }

    .register-box{
        width: 350px;
    }

    #r-email, #r-nombre, #r-apellido, #r-contraseña, #r-confirmar-c{
        height: 22px;
    }
}