<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
    <body>
        <main class="main-recover">
            <div class="container-logo">
                <a href="/">
                    <img class="logo-register-login" src="/images/logo_nutriviandas.jpeg" alt="Logo de Nutriviandas">
                </a>
            </div>
            <!-- seccion de recover -->
            <div class="recover-section">
                <div class="recover-box">
                    <div class="inside-container-logo">
                        <a href="/">
                            <img class="logo-register-login" src="/images/logo_nutriviandas.jpeg" alt="Logo de Nutriviandas">
                        </a>
                    </div>
                    <h3 class="titulo-recover">Recuperar Contraseña</h3>
                    <p class="texto-recover">Por favor, introduzca su e-mail asociado con su cuenta Nutriviandas.</p>
                    <form class="recover-form"  autocomplete="on">
                        <input type="email" class="r-email" placeholder="E-mail" required><br>
                        <!-- Este boton solo simula el error que deberia aparecer en pantalla al introducir un dato erroneo -->
                        <button type="submit" value="Recover" class="recover-b" onclick="alert('El E-mail no se encuentra registrado')">Ingresar</button>
                    </form>
                    <div class="crear-cuenta">
                        <span>¿Aún no tienes una cuenta? <a class="medium-link" href="/register">Crea tu cuenta</a></span>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>