<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
    <body>
        <!--TOP NAV-->
        <%- include('../partials/header.ejs') %>

        <main class="main-recover">
            <!-- seccion de recover -->
            <div class="recover-section">
                <div class="recover-box">
                    <h3 class="titulo-recover">Recuperar Contraseña</h3>
                    <p class="texto-recover">Introduzca su e-mail asociado a su cuenta Nutriviandas.</p>

                    <form class="recover-form"  autocomplete="on">
                        <input type="email" class="r-email" placeholder="E-mail" required><br>
                        <!-- Este boton solo simula el error que deberia aparecer en pantalla al introducir un dato erroneo -->
                        <button type="submit" value="Recover" class="recover-b" onclick="alert('E-mail enviado')">Recuperar</button>
                    </form>
                    <div class="crear-cuenta">
                        <span>¿Aún no tienes una cuenta? <a class="medium-link" href="/users/register">Crea tu cuenta</a></span>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>