.body-userList{
    padding-top: var(--header-height);
    background-color: var(--background-color);
}

.userList{
    margin: 20px 0;
}

.userInList {
    display: grid;
    grid-template-columns: 2fr 1fr 4fr 4fr 2fr 4fr;
    border-bottom: 1px solid var(--bs-green);
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: white;
    padding: 5px
}

.userInList_avatar img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 0 0 10px 0;
}

.userInList_roleSelect form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 5px;
    background-color: var(--color-red);
    padding: 6px;
    border-radius: 4px;
}

#buttonRoleUpdate{
    grid-column: 1 / -1;
    margin: 5px 17px 5px;
    border: 0;
    border-radius: 4px;
    background-color: var(--color-dark-green);
    color: white;
}