<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Shadows+Into+Light&display=swap" rel="stylesheet"/>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/headerFooter.css" />

    <!-- from head -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- partials -->
    <link rel="stylesheet" href="/css/partials/partial_productInCart.css" />
    <link rel="stylesheet" href="/css/partials/partial_shoppingSteps.css" />
    
    <!-- this css -->
    <link rel="stylesheet" href="/css/productCart.css" />
    
    <link
      rel="icon"
      href="images/logo_nutriviandas.jpeg"
      type="image/gif"
      sizes="16x16"
    />
    <title>Carrito de compras</title>
  </head>
  <body class="body-productCart">
    <%- include('../partials/header.ejs') %>

    <main>
      <div class="container">
        <section class="productCart-productsDetail">
          <header>
            <ul class="productCart_productsDetail_headings">
              <li class="wide">Producto</li>
              <li class="wider">Descripción</li>
              <li>Cantidad</li>
              <li>$ Unidad</li>
              <li>$ Subtotal</li>
              <li>$ Total</li>
              <li>Incluir</li>
            </ul>
          </header>
          <div class="spacer"></div>
          <section class="productCart_productsDetail_products">
            <% for(let i = 1; i < 7; i++) { %> <%-
            include('../partials/productInCart', {productId: "productInCartId" + i})
            %> <% } %>
          </section>
          <aside>
            <div class="totalSelectedProducts">
              <h2>Tu Selección</h2>
              <div class="productsQuantityTotal">
                <h3>Productos</h3>
                <span>6</span>
              </div>
              <div class="productsMoneySubTotal">
                <h3>Subtotal</h3>
                <span>$ 750</span>
              </div>
              <div class="productsDeliveryCostTotal">
                <h3>Envío</h3>
                <span>$ 0</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="productsTotal">
                <h3>Total</h3>
                <span>$ 750</span>
              </div>
            </div>
          </aside>
        </section>        
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
