<html lang="en">
  <%- include('../partials/head.ejs') %> 
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="main-product-create">
      <div class="createP-section">
        <form class="createP-form">
          <h2 class="titulo-agregarP">Agregar Producto</h2>
          <div class="createP-all">
            <div class="createP-form-left">
              <label class="titulo-form" for="product-name">Nombre </label>
              <input type="text" name="product-name" id="product-name">
              <label class="titulo-form" for="product-description">Descripción </label>
              <textarea name="product-desc" id="product-desc" cols="50" rows="5"></textarea>
              <label class="titulo-form" for="product-price">Precio </label>
              <input type="text" name="product-price" id="product-price" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" 
              value="" placeholder="$1.000,00">

              <p class="titulo-form">Categorías</p>
              <div>
                <input type="checkbox" name="product-categ-1" id="product-categ-1">
                <label for="product-categ-1">Carnes rojas </label>
              </div>
              <div>
                <input type="checkbox" name="product-categ-2" id="product-categ-2">
                <label for="product-categ-2">Pollo </label>
              </div>
              <div>
                <input type="checkbox" name="product-categ-3" id="product-categ-3">
                <label for="product-categ-3">Vegetariano </label>
              </div>
              <div>
                <input type="checkbox" name="product-categ-4" id="product-categ-4">
                <label for="product-categ-4">Vegano </label>
              </div>
              <div>
                <input type="checkbox" name="product-categ-5" id="product-categ-5">
                <label for="product-categ-5">Bajo en calorias </label>
              </div>
              <div>
                <input type="checkbox" name="product-categ-6" id="product-categ-6">
                <label for="product-categ-6">Postre </label>
              </div>
              <div>
                <input type="checkbox" name="product-categ-7" id="product-categ-7">
                <label for="product-categ-7">Bajo en sodio </label>
              </div>
            </div>

          <div class="createP-form-right">
            <div class="img-dummy">
              <i class="fas fa-cloud-upload-alt img-dummy-icon"></i>
            </div>
            <div class="upload-image-button">
              <input type="file" name="upload-img" id="upload-img">
              <input type="button" class="upload-button" value="CARGAR IMAGEN">
            </div>
          </div>

          <div class="save-button-section">
            <button type="submit" class="save-product-button">GUARDAR PRODUCTO</button>
          </div>
        </div>
        </form>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>

  </body>
</html>