<!DOCTYPE html>
<html lang="en">
  <!-- <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/headerFooter.css" />


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


    <link rel="stylesheet" href="/css/partials/partial_product.css" />
    <script src="/js/scripts.js"></script>

    <link rel="stylesheet" href="/css/products.css" />

    <title>Productos</title>
  </head> -->

  <%# include("../partials/head.ejs", {css: "partial_product.css", script: "scripts.js", title: "Productos"}) %> 
  <% include("../partials/head.ejs") %> 

  <body class="body-products">
    <%- include('../partials/header.ejs') %>

    <div class="main-products">
      <h1 class="sr-only">Productos</h1>

      <% if (isAdmin) { %>
        <form action="/products/create" method="get">
          <button>+ Agregar nuevo producto</button>
        </form>
      <% } %>

    </div>

      <section class="listOfProducts">
        <% for(let producto of productos) { %> 
          <%- include('../partials/product', {product: producto}) %> 
        <% } %> 
      </section>



    </div>


    <%- include('../partials/footer.ejs') %>
  </body>
</html>