<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs", {css: "products.css", cssExtra:["partials/partial_product.css"], script: "scripts.js", title: "Productos - Nutriviandas"}) %> 

  <body class="body-products">
    <%- include('../partials/header.ejs') %>

    <div class="main-products">
      <h1 class="sr-only">Productos</h1>      
    </div>

    <% if (isAdmin) { %>
      <div class="productsTopNav">
        <form action="/products/create" method="get">
          <button>+ Agregar nuevo producto</button>
        </form>
      </div>
    <% } %>

      <section class="listOfProducts">
        <% for(let producto of productos) { %> 
          <%- include('../partials/product', {product: producto}) %> 
        <% } %> 
      </section>

    </div>

    <%- include('../partials/footer.ejs') %>
    
  </body>
</html>